body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.content {
    max-width:1500px;
    margin: auto;tes

    h2{
      color: #2d6b00;
    }

    label{
      color:#5fa06b;;
      font-weight: bold;
    }

  .barraPesquisa {
    width: 100%;
    padding: 45px;

    input[type="text"] {
      width: 90%;
      border-radius: 10px;
      padding: 10px;
    }
  }
  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .conteudoInfo {
      display: flex;
      justify-content: center;
      align-items: center;

      .img {
        margin-right: 20px;
        &img {
          max-width: 160px;
          max-height: 160px;
        }
      }

      .componente {
        padding-bottom: 5px;
      }
    }
  }

  .repositorios{    
      margin-top: 100px;

    .repositorio{
      display: flex;
      justify-content: space-around;

      li{
        list-style-type: none;
        text-align: center;
        width: 100%;

        label{
          text-align: left;
        }
      }

 
    }
    
    h2{
      text-align: center;
    }
    
  }
  .follo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

    .info{
      display: flex;
    }    

    .info{
      display: flex;
      justify-content: center;

      .dados{
          margin-top: 0;
      }

      ul{
        li{
          list-style-type: none;
        }
      }
    }    


    .img{
      width: 15%;
    }  

    img{
      width: 100%;
    }

    h2{
      text-align: center;
    }
  }
  
}